body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-left: 4rem;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.open .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.flip-card-back {
  transform: rotateY(180deg);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  position: relative;
  width: 16rem;
  height: 4rem;
  margin-bottom: 2rem;
  background: #7983ff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

button span {
  position: relative;
}

button:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

button:hover:before {
  --size: 200px;
}
